body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("back_image.jpg");
}

#boss{
    top: 20%;
    position: absolute;
    box-shadow: 0 0 150px 5px rgba(0, 0, 0, 0.51);
    border-radius: 20px;
}

.week{
    background-color: rgba(172, 224, 235, 0.6);
    width: 750px;
    border-radius: 0 0 20px 20px;
    height: 195px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#search{
    background-color: rgba(246, 225, 75, 0.85);
    width: 750px;
    height: 70px;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days{
    margin: 10px 20px 0 0;
}

#search input, #search button{
    font-size: 14pt;
    font-family: Impact, sans-serif;
    margin-left: 13px;
    border-radius: 15px;
    border-style: none;
}

#search label{
    font-size: 16pt;
    font-family: Impact, sans-serif;
}

#search input{
    width: 300px;
    padding-left: 10px;
    line-height: 40px;
}

#search button {
    width: 150px;
    background-color: #f6e14b;
    border: solid 3px #ffffff;
    line-height: 35px;
}

#search button:hover{
    cursor: pointer;
    background-color: white;
}

#search input:focus, #search button:focus {
    outline: none;
}

#search button:active{
    transform: translateY(3px);
}

.get_city{
    background: linear-gradient(to bottom, #7bbccb 30%, rgba(172, 224, 235, 0.6) 100%);
    font-size: 22pt;
    font-family: Impact, sans-serif;
    width: 665px;
    height: 30px;
    padding: 10px 0 10px 85px;
    color: #ffffff;
}
#get_city{
    border-bottom: #000000 solid 2px;
    border-radius: 5px;
    /*padding-left: 5px;*/
    /*padding-right: 10px;*/
}

.days{
    margin: 15px 2px 15px 2px;
    padding: 5px;
    border-radius: 10px;
    height: 155px;
    width: 90px;
    background-color: rgba(172, 224, 235, 0.6);
}

img{
    vertical-align: middle;
    padding: 0;
    margin-left: 10px;
    float: left;
    height: 28px;
    width: 27px;
    margin-top: 3px;
}

.main{
    text-align: center;
    font-size: 24pt;
    font-family: Impact, sans-serif;
}

.day{
    border-bottom: white solid 2px;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    font-size: 18pt;
    border-radius: 7px;
}

.main_info{
    border-radius: 10px;
}
.main_info:hover{
    cursor: pointer;
    color: #ffffff;
}

.info{
    font-size: 13pt;
    font-family: Impact, sans-serif;
    text-align: center;
    border-radius: 10px;
}


.info:hover{
    cursor: pointer;
    border-bottom: solid 2px #ffffff;

}

.min_day_temp{
    font-size: 16pt;
    font-family: sans-serif;
}

.date{
    font-family: Impact, sans-serif;
    text-align: center;
    width: 100%;
    position: relative;
    color: white;

}

.now{
    box-shadow: 0 0 3px 2px #f6e14b;
}